body {
    font-family: Arial, sans-serif;
    margin-left: 50px;
    padding: 0;
}
input{
    margin: 10px 20px;
    padding: 10px 20px;
}
select{
    margin: 10px 20px;
    padding: 10px 20px;
}

.container {
    display: flex;
    width: 95%;
}

header {
    text-align: center;
    padding-bottom: 20px;
    font-size: 25px;
}


.contacts-list table {
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    /* box-shadow: 0px 10px 10px #ccc; */
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: auto;
    max-width: 1800px;
    width: 95%;
    margin: auto;
}

.contacts-list th,
.contacts-list td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.contacts-list th {
    width: calc(100%/6);
    background-color: white;
    text-align: left;
    padding:  0.9rem;
}

table th:first-child, table td:first-child {
    
    padding-right: 0px;
}

.contacts-list td {
    color: #555;
    border-top: 0.5px solid #ddd;
    overflow: hidden;

}


td:nth-child(1), 
td:nth-child(2), 
th:nth-child(1),
th:nth-child(2) {
    padding-left: 3px;
    padding-right: 3px;
    width: 0.5%; 
}

td:nth-child(2),
th:nth-child(2),
th:nth-child(3) {
    padding-left: 5px;
    padding-right: 5px;
    width: 1.5%; 
}

td:nth-child(3), 
td:nth-child(4), 
th:nth-child(3),
th:nth-child(4) {
    padding-left: 3px;
    padding-right: 3px;
    width: 2%; 
}

td:nth-child(4), 
td:nth-child(5), 
th:nth-child(4),
th:nth-child(5) {
    padding-left: 2px;
    padding-right: 2px;
    width: 1.5%; 
}
/* Target the fifth (Category) and sixth (Options) columns */
td:nth-child(5), 
td:nth-child(6), 
th:nth-child(5),
th:nth-child(6) {
    padding-left: -5px;
    padding-right: -5px;
    width: 1%; 
}



.formContainer {
    position: relative;
    margin: 8% auto;
    min-height: 60%;
    width: 50%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: white;
    padding: 0px 0px 5px 15px;
    box-sizing: border-box;
    border-radius: 8px;
}
h2 {
    text-align: center;

}
.formContentContainer {
    margin-top: 15%;
}
.formInput input select{
    display: block;
    margin: 0px 0px 15px 20px;
    padding: 4px;
    width: 80%;
    height: 5%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-size: 20px;
    font-family: bold;
}

.submitButton {
    background: #777777;;
    color: #fff;
    margin: 10px 20px;
    padding: 10px 20px;
    height: 5%;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    justify-content: center;
}


.options{
    display: inline-block;
    justify-content: space-around;
    text-decoration: none;
    border-radius: 3px;
    padding: 0.2rem;
    color: black;
    cursor: pointer;
    transition: 200ms ease-in;
}
.options-edit{
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
    background-color: #20ec53;
}

.options-delete{
    padding: 0.3rem  0.5rem;
    margin: 0.3rem;
    background-color: #f1470e;
}
.option-view{
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.option-view a:focus{
    text-decoration: none;
}
.options a{
    text-decoration: none;
    color: #333;
}

.container-view-contact {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

};

.container-view-contact img{
    display: block;
    margin: 20px auto; 
    border-radius: 50%;
}

.container-view-contact h2{
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.container-view-contact p{
    font-size: 15px;
}